.load-grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  z-index: 1000;
  pointer-events: none;
  opacity: 1;
  visibility: visible;
  transform: translateZ(0);
  backface-visibility: hidden;
  will-change: opacity;
  contain: layout style paint;
}

.grid-item {
  background: rgb(250, 104, 54);
  opacity: 0;
  will-change: opacity, transform;
  transform: translateZ(0);
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}